<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="many-upload/doAdd" method="post" enctype="multipart/form-data">
    
        <input type="text" name="title1" id="" placeholder="新闻标题"/>

        <br> <br>

        <input type="text" name="keywords" id="" placeholder="关键词"/>

       
        <br> <br>

        <input type="file" name="pic" />

        <br> <br>


        <input type="file" name="aaaa" />

       
        <br>
        <br>

        <input type="submit" value="提交">
        
    </form>
</body>
</html>